@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  width: 100%;
  padding: 1rem;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}

table {
  border: 1px solid #bb86fc;
  border-collapse: collapse;
  width: 80%;
  margin-top: 2rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

th,
td {
  border: 1px solid #bb86fc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #1f1f1f;
  color: #bb86fc;
}

tr:nth-child(even) {
  background-color: #1f1f1f;
}

tr:nth-child(odd) {
  background-color: #2c2c2c;
}

#backButton {
  width: 20%;
  text-decoration: none;
  color: #121212;
  background-color: #bb86fc;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  display: inline-block;
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 20% 100%, 0% 50%);
  animation: resalt 0.5s infinite alternate;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#backButton:hover {
  background-color: #3700b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#metalabLogo,
#autonomaLogo {
  width: 30%;
  margin: 0 1rem;
}

#logos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

@keyframes resalt {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-10px);
  }
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  table {
    width: 100%;
  }

  #backButton {
    width: 100%;
    margin-bottom: 1rem;
  }

  #metalabLogo,
  #autonomaLogo {
    width: 50%;
  }
}
