body {
  font-family: "Inter", sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

header {
  width: 100%;
  padding: 1rem;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #ffffff;
}

a {
  color: #bb86fc;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-left: 1rem;
}

a:hover {
  color: #3700b3;
}

button {
  background-color: #bb86fc;
  color: #121212;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
}

button:hover {
  background-color: #3700b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

input,
textarea {
  background-color: #1f1f1f;
  color: #e0e0e0;
  border: 1px solid #bb86fc;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 1rem;
}

input::placeholder,
textarea::placeholder {
  color: #757575;
}

#image-viewer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

#image-viewer img {
  max-width: 100%;
  height: auto;
  border: 2px solid #bb86fc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-height: 500px; /* Limitar la altura máxima de la imagen */
}

#left-button,
#right-button {
  background-color: transparent;
  color: #bb86fc;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

#left-button:hover,
#right-button:hover {
  color: #3700b3;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  #image-viewer {
    flex-direction: column;
  }

  #left-button,
  #right-button {
    font-size: 1.5rem;
  }
}
